In [8]:
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
data = pd.read_csv("cardata.csv", encoding="cp1252")
data

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
...,...,...,...,...,...,...,...,...,...,...,...
1213,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590 – $48,000",Hybrid (Gas + Electric),5,239 Nm
1214,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm
1215,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169 – 196 hp,190 km/h,8.0 – 9.2 sec,"$25,210 – $29,135",Gas / Hybrid,5,190 – 210 Nm
1216,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140 – 198 hp,180 km/h,7.9 – 10.5 sec,"€ 33,000",Hybrid,5,190 – 205 Nm
1217,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219 – 302 hp,200 km/h,6.0 – 8.1 sec,"$29,000 – $43,000",Hybrid / Plug-in,5,221 – 400 Nm

In [12]:
data["Company Names"].unique()
data["Company Names"]=data["Company Names"].str.upper().str.strip()
data["Company Names"].unique()

array(['FERRARI', 'ROLLS ROYCE', 'FORD', 'MERCEDES', 'AUDI', 'BMW',
       'ASTON MARTIN', 'BENTLEY', 'LAMBORGHINI', 'TOYOTA', 'NISSAN',
       'VOLVO', 'KIA', 'HONDA', 'HYUNDAI', 'MAHINDRA', 'MARUTI SUZUKI',
       'VOLKSWAGEN', 'PORSCHE', 'CADILLAC', 'TATA MOTORS', 'TESLA',
       'JEEP', 'MAZDA', 'CHEVROLET', 'GMC', 'PEUGEOT', 'BUGATTI',
       'JAGUAR LAND ROVER', 'ACURA', 'MITSUBISHI'], dtype=object)

In [13]:
from sklearn.preprocessing import  OneHotEncoder,LabelEncoder

In [14]:
encoder=OneHotEncoder()

In [16]:
encoded=encoder.fit_transform(data[["Company Names"]]).toarray()
encoded
dataframe=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Company Names_ACURA              1218 non-null   float64
 1   Company Names_ASTON MARTIN       1218 non-null   float64
 2   Company Names_AUDI               1218 non-null   float64
 3   Company Names_BENTLEY            1218 non-null   float64
 4   Company Names_BMW                1218 non-null   float64
 5   Company Names_BUGATTI            1218 non-null   float64
 6   Company Names_CADILLAC           1218 non-null   float64
 7   Company Names_CHEVROLET          1218 non-null   float64
 8   Company Names_FERRARI            1218 non-null   float64
 9   Company Names_FORD               1218 non-null   float64
 10  Company Names_GMC                1218 non-null   float64
 11  Company Names_HONDA              1218 non-null   float64
 12  Company Names_HYUNDAI            1218 non-null   float64
 13  Company Names_JAGUAR LAND ROVER  1218 non-null   float64
 14  Company Names_JEEP               1218 non-null   float64
 15  Company Names_KIA                1218 non-null   float64
 16  Company Names_LAMBORGHINI        1218 non-null   float64
 17  Company Names_MAHINDRA           1218 non-null   float64
 18  Company Names_MARUTI SUZUKI      1218 non-null   float64
 19  Company Names_MAZDA              1218 non-null   float64
 20  Company Names_MERCEDES           1218 non-null   float64
 21  Company Names_MITSUBISHI         1218 non-null   float64
 22  Company Names_NISSAN             1218 non-null   float64
 23  Company Names_PEUGEOT            1218 non-null   float64
 24  Company Names_PORSCHE            1218 non-null   float64
 25  Company Names_ROLLS ROYCE        1218 non-null   float64
 26  Company Names_TATA MOTORS        1218 non-null   float64
 27  Company Names_TESLA              1218 non-null   float64
 28  Company Names_TOYOTA             1218 non-null   float64
 29  Company Names_VOLKSWAGEN         1218 non-null   float64
 30  Company Names_VOLVO              1218 non-null   float64
dtypes: float64(31)
memory usage: 295.1 KB

In [23]:
data["Cars Names"].unique()

array(['SF90 STRADALE', 'PHANTOM', 'KA+', ..., 'Corolla Cross', 'C-HR+ ',
       'RAV4 (6th Gen)'], shape=(1201,), dtype=object)

In [ ]:
lbl_encoder=LabelEncoder()
car_name_encoded=lbl_encoder.fit_transform(data["Cars Names"])
data["Car Names Encoded"]=car_name_encoded
data[["Cars Names","Car Names Encoded"]].head(10)

             Cars Names  Car Names Encoded
0         SF90 STRADALE                889
1               PHANTOM                741
2                   KA+                611
3               GT 63 S                  0
4            AUDI R8 Gt                139
5          Mclaren 720s                682
6            VANTAGE F1               1122
7  Continental GT Azure                341
8       VENENO ROADSTER               1123
9            F8 TRIBUTO                430

In [33]:
updated_data=pd.concat([data,dataframe],axis=1)
updated_data.drop(columns=["Company Names","Cars Names"],axis=1,inplace=True)
updated_data

,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque,Car Names Encoded,...,Company Names_MITSUBISHI,Company Names_NISSAN,Company Names_PEUGEOT,Company Names_PORSCHE,Company Names_ROLLS ROYCE,Company Names_TATA MOTORS,Company Names_TESLA,Company Names_TOYOTA,Company Names_VOLKSWAGEN,Company Names_VOLVO
0,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm,889,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm,741,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm,611,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm,139,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590 – $48,000",Hybrid (Gas + Electric),5,239 Nm,350,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1214,2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm,67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1215,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169 – 196 hp,190 km/h,8.0 – 9.2 sec,"$25,210 – $29,135",Gas / Hybrid,5,190 – 210 Nm,342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1216,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140 – 198 hp,180 km/h,7.9 – 10.5 sec,"€ 33,000",Hybrid,5,190 – 205 Nm,241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1217,2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219 – 302 hp,200 km/h,6.0 – 8.1 sec,"$29,000 – $43,000",Hybrid / Plug-in,5,221 – 400 Nm,843,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [45]:
import re
def extract_engine_size(engine):
    engine = str(engine).upper()
    # split by commas and spaces
    parts = re.split("[ ,]", engine)  
    for part in parts:
        if "L" in part:
            try:
                # remove L and convert to float
                return float(part.replace("L",""))
            except:
                pass
    return None

# apply to your column
updated_data["Engine_Size_L"] = updated_data["Engines"].apply(extract_engine_size)

# check results
updated_data[["Engines", "Engine_Size_L"]].head(10)

       Engines  Engine_Size_L
0           V8            NaN
1          V12            NaN
2  1.2L Petrol            1.2
3           V8            NaN
4          V10            NaN
5           V8            NaN
6           V8            NaN
7           V8            NaN
8          V12            NaN
9           V8            NaN

In [ ]:
data["Company Names"]=data["Company Names"].str.strip()

In [ ]:
data["Company Names"].unique()

In [ ]:
data.info()

In [ ]:
new_data=pd.concat([data,dataframe],axis=1)
new_data

In [ ]:
new_data.info(verbose=True)