In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
#creat simple dataframe
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [4]:
##create an instance of onehotencode
encoder=OneHotEncoder()

In [5]:
##fit transform
encoder_values=encoder.fit_transform(df[["color"]]).toarray()

In [6]:
import pandas as pd
encoder_df=pd.DataFrame(encoder_values,columns=encoder.get_feature_names_out())

In [7]:
print(encoder_df)

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [8]:
encoder.transform([["blue"]]).toarray()

c:\Users\ADMIN\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [9]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [10]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [ ]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()